.container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.container img{
    width: 200px;
    height: 225px;
}