
<div>
    <form  action="" #sampleForm="ngForm">
        <div>
            <div class="user-details">
                <div class="input-box">
                  <span class="details">Doctor Name</span>
                  <input ngModel type="text" placeholder="Enter Doctor Name" #t_doctorName="ngModel" name="doctorName"
                    id="doctorName" required>
                </div>
                </div>
        </div>
        <input ngModel type="text" id="image" name="image">
        <div class="button">
            <input type="submit" value="Register">
          </div>
          <!-- <button >close</button> -->
    </form>
</div>