
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<header>
    <div class="doctor">
    <img src="/assets/1234.jpg">
      <p class="name">Medico</p>        
    </div>

      <input type="checkbox" id="mobile-icon">
      <label for="mobile-icon" class="toggle"><span class="hamburger-icon"></span></label>
      <nav>
        <ul class="nav-items">
          <li><a href="home">Home</a></li>
          <li><a href="home">AboutUs</a></li>
          <li><a href="home">WhyUs</a></li>
          <li><a href="patient-login">Login</a></li>
          <!-- <li><a href="home">Doctors </a></li> -->
        </ul>
      </nav>
    </header>


    <section>
        <div class="login">
            <div class="img"></div>
        <div class="center">
            <div class="title">Stay Safe</div>
            <div class="sub_title">Stay Healthy</div>
        </div>
        </div>
        

        <div class="about">
            <div class="row">
                <div class="col">
                  <h2>About Us</h2>
                  <p>At Medico Healthcare, our vision is to be the most well regarded healthcare provider in India committed to the highest standards of clinical excellence and patient care, supported by latest technology and cutting edge research.
                  </p>
                    <button>Read More</button>
                </div>
                <div class="col">
                    <img src="/assets/doc5.jpg">
                </div>
              </div>  
        </div>



        <div class="why-chose-us services">
            <h1>Our <span>Services</span></h1>
            
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div class="wrapper">
                    <div class="card front-face">
                        <img src="assets/checkup1.jpg" alt="Flip Card">
                    </div>
                    <div class="card back-face">
                        <div class="icons"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
                        <div class="info">
                            <div class="title">Lab Tests</div>
                            <p>Health Checkup and Lab test <br>Get upto 40% Discount</p>
                        </div>
                        
                    </div>
                </div>
                <div class="wrapper">
                    <div class="card front-face">
                        <img src="assets/booking1.jpg" alt="Flip Card">
                    </div>
                    <div class="card back-face">
                       
                        <div class="icons"><i class='fas fa-calendar-check'></i></div>
                        <div class="info">
                            <div class="title">Booking Appointments</div>
                            <p>Schedule an appointment <br>with just one click</p>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="card front-face">
                        <img src="assets/medicine.jpg" alt="Flip Card">
                    </div>
                    <div class="card back-face">
                        <div class="icons"><i class='fas fa-capsules'></i></div>
                        <div class="info">
                            <div class="title">Medicine</div>
                            <p>Get Medicines At your Door Step<br> Upto 15% Discount</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>


        </div>




        
        <div class="why-chose-us">
            <h1>Why <span>chose</span> us</h1>
            <div class="full-main">
                <div class="main-choseus">
                    <div class="main-inner-chose">
                        <div class="chose-img">
                            <img src="assets/virus.png" alt="">
                            <p>Access To Medical Service At Your FingerTips </p>
                        </div>
                    </div>
                    <div class="main-inner-chose">
                        <div class="chose-img">
                            <img src="assets/virus.png" alt="">
                            <p>Quicker Healthcare Solutions From Experts </p>
                        </div>
                    </div>
                </div>
                <div class="main-choseus">
                    <img src="assets/doctor.png" alt="">
                </div>
                <div class="main-choseus">
                    <div class="main-inner-chose">
                        <div class="chose-img">
                            <img src="assets/virus.png" alt="">
                          <p>Book Appointment With No Waiting List </p>
                        </div>
                    </div>
                    <div class="main-inner-chose">
                        <div class="chose-img">
                            <img src="assets/virus.png" alt="">
                            <p>Affordable Treatement From World-Class Doctors
                            </p>
                        </div>
                    </div>
                </div>
            </div>

           



            <div>
                <h1>Our <span>Doctors</span></h1>
                <meta name="viewport" content="width=device-width,
                    initial-scale=1.0">
                <div class="container">
                    <div class="card">
                        <div class="img">
                            <img src="assets/doc10.jpg">
                        </div>
                        <div class="top-text">
                            <div class="name">
                                Dr. Kavitha A J
                            </div>
                            <p>
                                General physician
                            </p>
                        </div>
                        <div class="bottom-text">
                            <div class="text">
                                worked at Manipal Hospitals for 5 years
                                currently working at Apollo
                            </div>
                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="assets/doc8.jpg">
                        </div>
                        <div class="top-text">
                            <div class="name">
                                Dr. Satish H R
                            </div>
                            <p>
                                ENT Specialist
                            </p>
                        </div>
                        <div class="bottom-text">
                            <div class="text">
                                worked at JSS Hospitals for 9 years
                                currently working at HCG Hospitals
                            </div>
                            
                        </div>
                    </div>
                    <div class="card">
                        <div class="img">
                            <img src="assets/doc9.jpg">
                        </div>
                        <div class="top-text">
                            <div class="name">
                                Dr. Pooja M R
                            </div>
                            <p>
                                Neurologist
                            </p>
                        </div>
                        <div class="bottom-text">
                            <div class="text">
                                worked at Kasturaba Hospitals for 7 years
                                currently working at Manipal Hospitals
                            </div>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </section>

    <Footer class="footer">

        <div class="box-container container">
            <div class="box">
                <h3>our services</h3>
                <a href="#"> <i class="fas fa-chevron-right"></i> dental care </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> message therapy </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> cardioloty </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> diagnosis </a>
                <a href="#"> <i class="fas fa-chevron-right"></i> ambulance service </a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> Medico@gmail.com </a>
                <a href="#"> <i class="fas fa-envelope"></i> HappisetMinds@hm.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Bangalore, India - 560010 </a>
            </div>
            
    
            <div class="box">
                <h3>follow us</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i>  Facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> Twitter </a>          
                <a href="#"> <i class="fab fa-instagram"></i> Instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> Linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> Pinterest </a>
            </div>
    
        </div>
    
   
    
    </Footer>
  
