
<div class="box">
    <div class="container p-5 distance">
        <div class="row">
            <div class="col-md-5 offset-md-3">
                <div class="card my-card">
                    
                    <div class="card-body login">
                        <h1>Sign In</h1>
                        <!-- <img src="assets/admin-login.gif" class="center"> -->
    
                        <form   (submit)="display(adminLogin.value)" action='' #adminLogin="ngForm">
                            <div class="mb-3">
                              <input  ngModel required name="username" id="username" type="text" #t_username="ngModel" placeholder="Enter username" class="form-control">
                            </div>
                            <div class="mb-3">
                             <input ngModel required name="password" id="passowrd" type="password" #t_password="ngModel" placeholder="Enter password" class="form-control">
                            </div>
                         
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









{{admindata|json}}