<div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Doctors</div>
          <div class="number">100+</div>
        </div>
        <i class="fa fa-user-md" aria-hidden="true" ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Total Patient</div>
          <div class="number">500+</div>
        </div>
        <i class="fa fa-users" aria-hidden="true"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Appointment Today</div>
          <div class="number">10</div>
        </div>
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Appointment from 7 days</div>
          <div class="number">30</div>
        </div>
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      </div>
    </div>



    